.button, .button-green, .button-red, .button-yellow, .button-blue {
  -fx-font-size: 20px;
}

.button-green {
  -fx-background-color: #27ae60;
  -fx-text-fill: #ffffff;
}

.button-red {
  -fx-text-fill: #ffffff;
  -fx-background-color: #e74c3c;
}

.button-yellow {
  -fx-background-color: #F19953;
}

.button-blue {
  -fx-background-color: #3498db;
  -fx-text-fill: #ffffff;
}

.title {
  -fx-font-size: 50px;
  -fx-text-fill: #4d4d4d;
}

.textbox {
  -fx-font-size: 16px;
}

.text-label {
  -fx-font-size: 25px;
}

.default-status {
  -fx-background-color: #F4F4F4;
  -fx-font-size: 16px;
}
