///////////////////////////////////////////////////////////
//                         COLOR                         //
///////////////////////////////////////////////////////////
$black: #4d4d4d;
$green: #27ae60;
$white: #ffffff;
$red: #e74c3c;
$yellow: #F19953;
$blue: #3498db;
$background-gray: #F4F4F4;

///////////////////////////////////////////////////////////
//                       FONT SIZE                       //
///////////////////////////////////////////////////////////
$biggest: 50px;
$bigger: 25px;
$big: 20px;
$normal: 16px;


///////////////////////////////////////////////////////////
//                        BUTTON                         //
///////////////////////////////////////////////////////////
.button{
		-fx-font-size: $big;
	}

.button-green{
	@extend .button;
	-fx-background-color: $green;
	-fx-text-fill: $white;
	}

.button-red{
	@extend .button;
	-fx-text-fill: $white;
	-fx-background-color: $red;
}

.button-yellow{
	@extend .button;
	-fx-background-color: $yellow;
}

.button-blue{
	@extend .button;
	-fx-background-color: $blue;
	-fx-text-fill: $white;
}

///////////////////////////////////////////////////////////
//                TEXT OBJECTS DIMENSION                 //
///////////////////////////////////////////////////////////
.title{
	-fx-font-size: $biggest;
	-fx-text-fill: $black;
	}

.textbox{
	-fx-font-size: $normal;
	}

.checkbox{
	
	}

.tooglebutton{
	
	}

.text-label{		//TODO Cambiare nome, questo è usato nelle view per impostare il font di "Inizio" e "Fine"
	-fx-font-size: $bigger;
	}

.default-status{
	-fx-background-color: $background-gray;
	-fx-font-size: $normal;
	}